<!-- <nav class="navigation">
    <ul>
        <li><a routerLink="home" routerLinkActive="current-page">Home</a></li>
        <li><a routerLink="code-org" routerLinkActive="current-page">Code.org</a></li>
        <li><a routerLink="canvas" routerLinkActive="current-page">Canvas</a></li>
        <li><a routerLink="unity" routerLinkActive="current-page">Unity</a></li>
    </ul>
</nav> -->


<header class="site-header">
    <nav class="navigation">
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="code-org">Code.org</a></li>
            <li><a routerLink="canvas">Canvas</a></li>
            <li><a routerLink="unity">Unity</a></li>
        </ul>
    </nav>
    </header>
    <hr>
    