h1 {
    text-align: center;
    font-size: 50px;
}
p {
    text-align: center;
    font-size: 20px;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: #333;
    padding: 10px;
  }
  
  figure {
    margin: 0;
  }
  
  figure img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  figcaption {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    color: #fff;
  }

  .announcement {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    margin: 20px;
  }
  