<label for="name">Name:</label>
<input [(ngModel)]="name" maxlength="35" />
<p class="attention">WARNING. Do not input something inappropriate. If this happens the name and score will be
    deleted</p>

<div class="line-break">
    <canvas #myCanvas id="canvas" tabindex="1" style="border: 5px solid" width="600" height="300"></canvas>
</div>

<div>
    <table>
        <thead>

            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let score of scores">
                    <ng-container *ngIf="score.name">
                        <td>{{score.name}}</td>
                        <td>{{score.score}}</td>

                    </ng-container>
            </tr>
        </tbody>
    </table>
</div>