<!DOCTYPE html>
<html lang="en">
<body>
    <div class="page-content">
        <h1>Current Coding</h1>
        <h2>I am currently working on many different things</h2>
        <section id="projects" class="my-projects">
            <h3>Check out Bounce Up</h3>
            <span class="left-para">Bounce Up is a pong-like game where you lose a point if the ball touches the bottom and you gain a point if it touches your paddle.</span>
            
        </section>
        <p class="tip">Click the pictures of a game on their page to go to the game.</p>
    </div>
</body>
</html>
