.line-break a {
    display: inline-block;
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
  
  .line-break a:hover {
    text-decoration: underline;
  }
  
  a.current-page,
  a.current-page:visited,
  a.current-page:hover,
  a.current-page:active {
    background-color: #333;
    color: #fff; /* Ensure contrast */
    border-radius: 4px;
    padding: 5px 10px;
  }